{{#each methods}}
	{{#if @index}}
		<hr>
	{{/if}}

	<div class="api-method" id="method_{{name}}">
		<h4 class="property-name">
			<strong>{{name}}</strong>
			<small>
				<span>
					({{#each parameters}}{{#if @index}}, {{/if}}{{name}}{{/each}})
				</span>
				{{#if return.type}}
					<a>&#123;{{return.type}}&#125;</a>
				{{/if}}
				{{#if static}}
					<code>static</code>
				{{/if}}
				{{#if private}}
					<code>private</code>
				{{/if}}
				{{#if protected}}
					<code>protected</code>
				{{/if}}
				{{#if deprecated}}
					<code>deprecated</code>
				{{/if}}
				{{#if abstract}}
					<code>abstract</code>
				{{/if}}
			</small>
		</h4>
		<small>Defined in:
			<a href="https://github.com/gordonkristan/ember-graph/blob/master/{{file.path}}#L{{file.line}}">
				{{file.path}}:{{file.line}}
			</a>
		</small>
		<p>{{{description}}}</p>

		{{#if parameters}}
			<h4><strong>Parameters</strong>:</h4>
			<ul class="list-unstyled parameter-list">
				{{#each parameters}}
					<li>
						<strong>{{name}}</strong>
						<small>
							<a>&#123;{{type}}&#125;</a><br>
							{{#if description}}
								<span>{{strip-outer-paragraph description}}</span>
							{{/if}}
						</small>
					</li>
				{{/each}}
			</ul>
		{{/if}}

		{{#if return}}
			<h4><strong>Returns</strong>:</h4>
			<ul class="list-unstyled return-value">
				<li>
					<small>
						<a>&#123;{{return.type}}&#125;</a><br>
						{{#if return.description}}
							<span>{{strip-outer-paragraph return.description}}</span>
						{{/if}}
					</small>
				</li>
			</ul>
		{{/if}}
	</div>
{{/each}}