<div class="container">
	<div class="row">
		<div class="col-md-3 well side-nav">
			{{{sidebar}}}
		</div>
		<div class="col-md-9 api-contents">
			{{#if class}}
				{{#with class}}
					<div class="api-page-header">
						<h1>
							<i class="fa fa-code"></i> {{name}} Class
						</h1>
						<hr>
					</div>

					<div class="api-metadata">
						{{#if extends}}
							<strong>Extends:</strong>
							<a href="#">
								{{extends}}
							</a>
							<br>
						{{/if}}

						{{#if uses}}
							<strong>Uses:</strong>
							{{#each uses}}{{#if @index}}, {{/if}}<a href="#">{{this}}</a>{{/each}}
							<br>
						{{/if}}

						<strong>Defined in:</strong>
						<a href="https://github.com/gordonkristan/ember-graph/blob/master/{{file.path}}#L{{file.line}}">
							{{file.path}}:{{file.line}}
						</a>
					</div>
					<br>
					<p>{{{description}}}</p>
				{{/with}}
			{{/if}}

			{{#if namespace}}
				{{#with namespace}}
					<div class="api-page-header">
						<h1>
							<i class="fa fa-code"></i> {{name}} Namespace
						</h1>
						<hr>
					</div>

					<div class="api-metadata"></div>
					<br>
					<p>{{{description}}}</p>
				{{/with}}
			{{/if}}

			{{#if content}}
				{{{content}}}
			{{/if}}
		</div>
	</div>
</div>